/*主页*/
/*顶部导航条的容器*/
.topbar-wrapper{
    width: 100%;
    /*height:48px; 写一个就够了 */
    line-height: 48px;
    height: 48px;
    background-color: #424242;
    
}

/*设置左侧导航栏*/
.service,.topbar li{
    float:left;
}
.app{
    position: relative;
}
/*设置app下的小三角*/
/*伪类*/
.app::after{
    display: none;
    content: '';/*设置一个内容为空的伪类*/
    /*设置绝对定位,脱离文档流了，变为块元素了*/
    position: absolute;
    border: 6px solid transparent; /*设置四个方向的边框*/
    /*display: block;*//*设置为块元素*/
    width: 0;
    height: 0;
    border-top: none;
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.app:hover::after,
.app:hover .qrcode{
    display: block;
    height: 148px;
}
/*设置下载app下拉*/
.app .qrcode{
    /*display: none;*/

    position: absolute;
    left:-35px;
    width: 124px;
    /*height: 148px;*/
    height: 0;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    transition: height 0.3s;/*为样式设置过渡效果*/
    z-index: 99;

}
/*设置二维码图片*/
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 10px;
}
/*设置二维码下的文字*/
.app .qrcode span{
    font-size: 14px;
    color: #000;
}
/*设置超链接的颜色*/
.topbar a{
    font-size: 12px;
    color: #fff;
    display: block;/*设置为块元素*/
}
/*设置超链接移入的效果*/
.topbar a:hover{
     color: #ff6700;
}
/*设置中间的分隔线*/
.topbar .line{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 8px;
    margin-top: -1px;
}

/*设置右侧导航栏*/
.shop-cart,.user-info{
    float:right;
}
/*设置购物车*/
.shop-cart a{
   width: 120px;
   text-align: center;

}
.shop-cart{
    margin-left: 26px;
}
.shop-cart i{
    margin-right: 2px;
}
.shop-cart .shop-cart-xia{
    display: none;
    width: 300px;
    height: 80px;
    position: absolute;
    left: 953px;
    line-height: 80px;
    text-align: center;
    box-shadow: 0 9px 10px rgba(0, 0, 0, .3);
    z-index: 99;
}
/*样式该绑定给谁*/
.shop-cart:hover a,
.shop-cart:hover .shop-cart-xia{
    display: block;
    background-color: #fff;
    color: #e33333;
}
.header-wrapper{
    position: relative;
}
/*设置一个中间的header*/
.header{
    height: 100px;
}
.header .logo{
    float: left;
    margin-top: 10px;
    /*隐藏logo中的文字*/
    text-indent: -9999px;
}
.header .logo a{  
    display: block;
    height: 55px;
    width: 55px;
    background-color: #e33333;
    background-image: url(../images/logo.jpg);
    background-size: 55px;
}
/*设置中间的导航条*/
.header .nav-wrapper{
    float: left;
    margin-left: 7px;
}
/*设置导航条*/
.header .nav{
    /*width不写被内容撑开*/
    height: 100px;
    line-height: 100px;
    padding-left: 58px;
}
.header .nav-wrapper li{
    float: left;
}
.nav-wrapper li a{
    display: block;
    font-size: 16px;
    margin: 0 20px;
}
.nav-wrapper li a:hover{
    color: #ff6700;
}
.nav .goods-info{
    height: 0;
    overflow: hidden;
    width: 100%;
    /*border-top: 1px solid rgb(224, 224, 224);*/
    /*相对于header-wrapper去定位*/
    background-color: #fff;
    position: absolute;
    top:100px;
    left: 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0,0.2);*/
    transition: height 0.3s;
    z-index: 9999;
}
/*有一个优先集问题，或顺序问题*/
.nav li:not(:last-of-type):hover ~ .goods-info,
.goods-info:hover{
    height: 228px;
    border-top: 1px solid rgb(224,224,224);
    box-shadow: 0 5px 3px rgba(0,0,0,0.2);
}
/*图片和input都是行内块元素*/
.search-wrapper{
    width: 296px;
    height: 50px;
    float: right;
    
    margin-top: 25px;
}
.search-wrapper .search-inp{
    box-sizing: border-box;
    width: 244px;
    border: none;
    float: left;
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    border: 1px solid rgb(224,224,224);
    outline: none;
}
/*设置input获取焦点后的样式*/
.search-wrapper .search-inp:focus,
.search-wrapper .search-inp:focus + button{
     border-color: #ff6700;
}
/*border-sizing:border-box 所以要处理*/
.search-wrapper .search-btn{
    float: left;
    height: 50px;
    width: 52px;
    padding: 0;
    border: none;
    background-color: #fff;
    color:#616161;
    font-size: 16px;
    border: 1px solid rgb(224,224,224);
    border-left: none;
}
.search-wrapper .search-btn:hover{
    background-color: #ff6700;
    color: white;
    border: none;
}
/*设置中间左侧导航条样式*/
.left-menu{
    height: 250px;
    width: 234px;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, .6);
    margin-left: 0px;
    z-index: 999;
    list-style: none;
    line-height: 1;
}
.left-menu a{
    display: block;
    height: 42px;
    line-height: 42px;
    color:#fff;
    margin-right: 0;
    padding: 0 30px;
    font-size: 14px;
}
.left-menu a i{
    float: right;
    line-height: 42px;
    font-size: 20px;
}
.left-menu a:hover{
    color: white;
    background-color: #ff6700;
}
.banner-wrapper{
    height: 290px;
}
/*设置banner*/
.banner{
    width: 992px;
    height: 290px;
    position: relative;
    top: -290px;
    left: 234px;
}
.banner .img-list li{
   position: absolute;
}
.banner img{
    width: 992px;
    height: 290px;
    vertical-align: top;
}
/*设置三个导航点*/

.pointer{
   position: absolute;
   right: 35px;
   bottom: 22px;
}
.pointer a{
    float: left;
    width: 6px;
    height: 6px;
    background-color: rgba(0, 0, 0, .4);
    border: 2px rgba(255, 255, 255, .4) solid;
    border-radius: 50%;
    margin-left: 6px;
}
.pointer a:hover,
.pointer a.active{
    border-color: rgba(0, 0, 0, .4);
    background-color: rgba(255, 255, 255, .4);
}
/*设置两个箭头*/
.prev-next a{
    width: 41px;
    height: 69px;
    background-image: url(../images/icon-slides.png);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.prev-next .prev{
    background-position: -84px 0;
}
.prev-next .prev:hover{
    background-position: 0 0;
}
.prev-next .next{
    right: 0;
    background-position: -125px 0;
}
.prev-next .next:hover{
    background-position: -42px 0;
}
/*设置回到顶部的元素*/
.back-top{
   width: 26px;
   height: 206px;
   background-color: red;
   position: fixed;
   bottom: 100px;
   right: 50%;
   margin-right: -630px;
}
/*设置下部的广告区域*/
.ad{
    height: 170px;
    margin-top: 14px;
}
.ad .shortcut,
.ad .imgs,
.ad li{
    float:left;
}
/*设置左侧的快捷方式*/
.ad .shortcut{
    width: 232px;
    height: 168px;
    background-color: #5f5750;
    margin-right: 14px;
    padding-top: 2px;
    padding-left: 2px;
}
/*设置快捷方式中的超链接*/
.ad .shortcut a{
    color: #cfccca;
    display: block;
    height: 84px;
    width: 75px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
}
.ad .shortcut a:hover{
        color: #fff;
}
/*设置图标字体*/
.ad .shortcut i{
    display: block;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 6px;
}
.ad .shortcut li{
    position: relative;
}
/*设置一个上边框*/
.ad .shortcut li::before{
     content: '';
     position: absolute;
     width: 64px;
     height: 1px;
     background-color: #665e57;
     left: 0;
     top:0;
     right: 0;
     margin: 0 auto;
}
/*设置一个左边框*/
.ad .shortcut li::after{
    content: '';
    position: absolute;
    height: 70px;
    width: 1px;
    background-color: #665e57;
    top:0;
    left: 0;
    bottom: 0;
    margin: 0 auto;
}
/*设置左侧的图片*/
.ad .imgs li{
    width: 316px;
    margin-right: 15px;
}
.ad .imgs li:last-child{
    margin: 0;
}
.ad .imgs img{
    width: 100%;
    vertical-align: top;
}
/*雪碧图-小熊*/
.ad2 .sprite{
   width: 162px;
   height: 292px;
   background-image: url(../images/sprite-xiong.jpeg);
   animation: run 1s steps(6) infinite;
   margin-left: 18px;
   float: left;
} 
/*创建一个关键帧*/
   @keyframes run {
       from{
           background-position:0 0;
       }

       to{
           background-position:-973px 0;
       }
   }
/*设置表的样式*/
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    position: relative;
}
.clock > div{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
/*设置时针*/
.hour-wrapper{
    height: 60%;
    width: 60%;
    position: absolute;
    animation: run1 7200s linear;/*匀速运动*/
}
.hour{
    height: 50%;
    width: 4px;
    background-color: #000;
    margin: 0 auto;
}
/*设置分针*/
.min-wrapper{
    height: 75%;
    width: 75%;
    position: absolute;
    animation: run1 600s steps(60) infinite;
}
.min{
    height: 50%;
    width: 2px;
    background-color: #000;
    margin: 0 auto;
}
/*设置秒针*/
.sec-wrapper{
    height: 95%;
    width: 95%;
    position: absolute;
    animation: run1 60s steps(60) infinite;
}
.sec{
    height: 50%;
    width: 1px;
    background-color: #f00;
    margin: 0 auto;
}
/*旋转的关键帧*/
@keyframes run1 {
    from{
       transform: rotateZ(0);
    }    

    to{
       transform: rotateZ(360deg);
    }
}

